<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>Gilroy-SemiBold.ttf</string>
		<string>Gilroy-Medium.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to provide accurate delivery services and show nearby stores.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to provide accurate delivery services and show nearby stores.</string>
	<key>NSLocationUsageDescription</key>
	<string>We need your location to provide accurate delivery services and show nearby stores.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>LocationAccuracy</key>
		<string>We need your precise location to ensure accurate delivery to your address.</string>
	</dict>
</dict>
</plist>
